<main>

  <section class="view">
    <h1>{{translatedSentence}}</h1>
    <form (submit)="translate(box.value)">
      <input #box [(ngModel)]="userInput" placeholder="When pigs fly" autofocus [ngModelOptions]="{standalone: true}">
      <input type="submit" [disabled]="!userInput.length" value="Translate &uarr;" />
    </form>
  </section>

  <section class="history">
    <h2>History</h2>
    <p>A record of the last 10 translations.</p>
    <ul *ngIf="translatedHistory.length">
      <li *ngFor="let sentence of translatedHistory.slice().reverse(); let i = index; trackBy:index">
        <span>{{sentence.original}} <i class="arrow">&rarr;</i> </span>
        <span>{{sentence.translation}}</span>
      </li>
    </ul>
  </section>
  <footer>
    Courtesy of
    <a href="https://github.com/connorholyday">@connorholyday</a>
  </footer>
</main>